@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin webkit-margin($margin) {
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

@mixin transition($transition) {
	transition: 			$transition;
	-moz-transition: 		$transition;
	-webkit-transition: 	$transition;
	-o-transition: 			$transition;
}

@mixin transform($transform) {
	-webkit-transform: 		$transform;
  	-moz-transform: 		$transform;
  	-ms-transform: 			$transform;
  	-o-transform: 			$transform;
  	transform: 				$transform;
}