@import 'vars';
@import 'mixins';

* {
    box-sizing: border-box;
}

body {
    font-family: $sans;
}

header {
    background-color: $red;
}


#usernameWrap {
    #userform {
        #username{

        }
    }
}

#chooseuserWrap{
    display: none;

    #usersList {

        li {
            cursor: pointer;
        }
    }
}

#contentWrap {
    display: none;

    #userDisplay {
        float: left;
        height: 100vh;
        width: 20%;
        border-right: solid 1px $black;
        padding: 10px;
        
        #users{
            li {
                cursor: pointer;
            }
        }
    }

    #chatWrap {
        float: left;
        height: 100vh;
        width: 30%;
        padding: 10px;
    }

    #videosWrap {
        float: left;
        height: 100vh;
        border-left: solid 1px $black;
        width: 50%;
        padding: 10px;

        #videoDisplay {
            video {
                //display: none;
                max-width: 100%;
                width: 320px;
            }

            button {
                width: 50px;
                background-color: $red;
                cursor: pointer;
                text-align: center;
                margin: 0 auto;
                border: 1px solid $red;
                color: $white;
                border-radius: 5px;
            }
        }

        #swaptovideo {
            background-color: $red;
            cursor: pointer;
            width: 200px;
            text-align: center;
            margin: 0 auto;
            padding: 5px 10px;
            border: 1px solid $red;
            border-radius: 5px;
        }
    }
}
