@import 'vars';
@import 'mixins';

* {
    box-sizing: border-box;
}

body {
    font-family: $sans;
    background-color: $grey;
}

header {
    background-color: $red;
    .logo {
        height: 30px;
        width: auto;
        img {
            height: 100%;
        }
    }
}

a {
    text-decoration: none;
    padding-top: $pad/2;             
    text-align: center;
    color: $red;

    &:hover {
        color: $blue;
    }
}

button {
    border: none;
    background-color: $red;
    border-radius: (5px);
    color: $white;
    cursor: pointer;
}

h1 {
    font-family: $sans;
    font-size: 2em;
    color: $red;
    font-weight: 300;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}



form {
    padding: $pad;
    margin: 0 auto;
    font-size: 1em;
    text-align: left;

    .inputs {
        width: 100%;
        height: 40px;
        font-family: $sans;
        font-size: 1em;
        padding: $pad/4;
        margin: $pad/4 auto;
        color: $red;
        border: solid 2px $red;
        @include border-radius(5px);
    }

    .form-input {
        @extend .inputs;
    }

    .form-submit {
        @extend .inputs;
        color: $white;

        &:hover {
            background-color: $blue;
            border: solid 2px $blue;
        }
    }
}

.container {
    padding: $pad;
    width: 100%;

    .open {
        width: 100%;
        margin: 100px auto;
        padding: $pad;
        background-color: $white;
        text-align: center;
        @include box-shadow(5px 5px 15px 1px rgba(0,0,0,0.1));
        
        .logo {
            height: 50px;
            margin: 20px 0 50px 0;
            
            img {
                height: 100%;
                width: auto;
                margin: 0 auto;
            }
        }

        .form-login {
            max-width: 400px;

            .forgot {
                display: block;
            }
        }

        .social-login {
            width: 100%;
            padding-top: $pad *3;
            text-align: center;

            .social-btn {
                @extend button;
                display: inline-block;
                width: 40px;
                height: 40px;
                margin: 0 $pad;

                &:hover {
                    background-color: $blue;
                }
            }

            #login-fb {
                img {
                    height: 70%;
                    padding-top: 25%;
                    margin: 0 auto;
                }
            }

            #login-tw {
                img {
                    height: 70%;
                    padding-top: 25%;
                    margin: 0 auto;
                }
            }

            #login-go {
                img {
                    height: 70%;
                    padding-top: 25%;
                    margin: 0 auto
                }
            }
        }

        .notamember {
            padding-top: $pad * 3;

        }
    } // end of open
} // end of container



#usernameWrap {
    #userform {
        #username{

        }
    }
}

#chooseuserWrap{
    display: none;

    #usersList {

        li {
            cursor: pointer;
        }
    }
}

#contentWrap {
    display: none;

    #userDisplay {
        float: left;
        height: 100vh;
        width: 20%;
        border-right: solid 1px $black;
        padding: 10px;
        
        #users{
            li {
                cursor: pointer;
            }
        }
    }

    #chatWrap {
        float: left;
        height: 100vh;
        width: 30%;
        padding: 10px;
    }

    #videosWrap {
        float: left;
        height: 100vh;
        border-left: solid 1px $black;
        width: 50%;
        padding: 10px;

        #videoDisplay {
            video {
                //display: none;
                max-width: 100%;
                width: 320px;
            }

            button {
                width: 50px;
                background-color: $red;
                cursor: pointer;
                text-align: center;
                margin: 0 auto;
                border: 1px solid $red;
                color: $white;
                border-radius: 5px;
            }
        }

        #swaptovideo {
            background-color: $red;
            cursor: pointer;
            width: 200px;
            text-align: center;
            margin: 0 auto;
            padding: 5px 10px;
            border: 1px solid $red;
            border-radius: 5px;
        }
    }
}
