@import 'vars';
@import 'mixins';

* { box-sizing: border-box;}
body { font-family: $sans; background-color: $grey; margin: 0;}
header { background-color: $red; 
    .logo { height: 30px; width: auto;
        img { height: 100%; }
    }
}





a { text-decoration: none; padding-top: $pad/2; text-align: center; color: $red;
    &:hover { color: $blue; }
}
button { border: none; background-color: $red; color: $white; cursor: pointer; font-family: $sans; font-size: 1em;
    &:hover { background-color: $blue; border: solid 2px $blue; }
    &:focus { outline: none;}
}
.htags { font-family: $sans; font-weight: 300; @include webkit-margin(0px); }
h1 { @extend .htags; font-size: 1.8em; color: $red; }
h2 { @extend .htags; font-size: 1.2em; color: $blue; }
ul { -webkit-padding-start: 0px; margin: 0; }
li { list-style-type: none; }
p {-webkit-margin-before: 0px; -webkit-margin-after: 0px; -webkit-margin-start: 0px; -webkit-margin-end: 0px;}




form { padding: $pad; margin: 0 auto; font-size: 1em; text-align: left;
    .inputs { width: 100%; height: 40px; font-family: $sans; font-size: 1em; padding: $pad/4; margin: $pad/4 auto; border: solid 2px $red; @include border-radius(5px); }
    .form-input { @extend .inputs;
        &:focus { border: solid 2px $blue; outline: none; }
    }
    .form-submit { @extend .inputs; color: $white;
        &:hover { background-color: $blue; border: solid 2px $blue; }
    }
}





.container { width: 100%; @media screen and (min-width: 700px) {width: 500px; margin: 0 auto;}

    // opening app
    .open { width: 95%; margin: 100px auto; padding: $pad *2; background-color: $white; text-align: center; @include box-shadow(5px 5px 15px 1px rgba(0,0,0,0.1));
        .logo { height: 50px; margin: 20px 0 50px 0;
            img { height: 100%; width: auto; margin: 0 auto; }
        }
        .form-login { max-width: 400px;
            .forgot { display: block;}
        }
        .social-login { width: 100%; padding-top: $pad *3; text-align: center;
            .social-btn { @extend button; display: inline-block; width: 40px; height: 40px; margin: 0 $pad; @include border-radius(5px);
                &:hover { background-color: $blue; border: none; }
            }
            #login-fb { img { height: 70%; padding-top: 25%; margin: 0 auto; } }
            #login-tw { img { height: 70%; padding-top: 25%; margin: 0 auto; } }
            #login-go { img { height: 70%; padding-top: 25%; margin: 0 auto; } }
        }
        .notamember { padding-top: $pad * 3; }
    } // end of open






    // nav display
    nav { height: 50px; width: 100%;
        ul { width: 100%;
            li { background-color: $red; list-style-type: none; width: 25%; height: 100%; display: inline-block; padding-bottom: 7px;
                &:hover, &:focus { background-color: $blue; }
                a { 
                    .navoption { 
                        img { height: 30px; margin: 10px auto 0 auto; } 
                    } 
                }
            }
        }
    } // end of nav





    // dash
    .logout { padding-top: 85vh; text-align: right; }
    .chatWraps { width: 100%; padding: $pad*2 $pad 0; text-align: center; }





    // choose who to chat with
    .chatChoiceWrap { @extend .chatWraps;
        .chatChoices { padding: $pad*2 0;
            .chatChoice { @extend button; width: 80%; max-width: 400px; height: 40px; margin: $pad/2 auto; @include border-radius(5px);}
        }
    }
    .history, .threadList {@extend .chatWraps;
        ul { width: 100%; padding: $pad*2 0;
            li { width: 100%; position: relative;
                a {
                    ul { width: 90%; padding: 0 $pad*2; background-color: white; margin: 0 auto; @include box-shadow( 0px 7px 14px 0px rgba(0,0,0,0.2)); color: $blue; text-align: left; 
                        .user, .title {font-size: 1.2em; padding: $pad 0 $pad/2 0;}
                        .message, .postuser {padding: $pad/2 0;}
                        .time {font-size: 0.6em; padding: $pad/2 0;}
                        .icon { float: right; }
                    }
                }
            }
        }
    }




    // actual chat room
    .chatRoom { padding-top: $pad;
        h1 { text-align: center; }
        .displayMessagesWrap { width: 100%; padding: $pad; text-align: left;
            #incoming {
                padding-bottom: $pad * 4;
                li { list-style-type: none; }
                .msgtime { width: 100%; display: block; font-size: 0.6em; margin-bottom: -10px;}
                .incomingMessage { width: 92%; display: inline-block; padding: $pad/2; margin-bottom: $pad;}
                #user1msg { background-color: $white; color: $blue; border: solid 1px $white; @include border-radius(5px); }
                #user2msg { background-color: $blue; color: $white; border: solid 1px $blue; @include border-radius(5px); }
                .speechbubble1 { width: 40px; display: inline-block; margin-left: -10px; position: relative; bottom: -15px;
                    img {width: 100%;}
                }
                .speechbubble2 { width: 40px; display: inline-block; margin-right: -10px; position: relative; bottom: -15px;
                    img {width: 100%;}
                }
            }
        }
        .sendMessagesWrap { width: 100%; position: fixed; bottom: 0; @media screen and (min-width: 700px) {width: 500px; margin: 0 auto;}
            #outgoing { height: 40px; width: 100%; border: none; padding: 0 $pad; font-family: $sans;}
            .chatOptions {width: 100%; height: 40px;
                .chat-btn { background-color: $red; color: $white; width: 25%; height: 100%; display: inline-block; border: none; cursor: pointer; vertical-align: top; text-align: center;
                    &:hover {background-color:$blue;}
                    img {height: 38px; width: auto; margin: 0 auto;}
                }
            }
        }

        .videoWrap { display: none; width: 100%; height: 75vh; padding-top: $pad;
            .videoDisplay { width: 100%; height: 100%;
                #remoteVideo { width: 100%; position: relative; background-color: $black; height: 100%}
                #localVideo { width: 40%; position: relative; bottom: 120px; float: right; border: solid 4px $red; @include border-radius(20px); margin-right: $pad;}
                .videoOptions { width: 100%; height: 40px; position: fixed; bottom: 0; @media screen and (min-width: 700px) {width: 500px; margin: 0 auto;}
                    .chat-btn { background-color: $red; color: $white; width: 25%; height: 100%; display: inline-block; border: none; cursor: pointer; vertical-align: top; text-align: center;
                        &:hover {background-color:$blue;}
                        img {height: 38px; width: auto; margin: 0 auto;}
                    }
                }
            }
        }
    }




    // forum
    .forumWrap { @extend .chatWraps;
        .addPost { float: right; padding: $pad;
            a {
                .add {  width: 50px; height: auto;
                    img {width: 100%;}
                }
            }
        }
    }

} // end of container

