nav
	ul
		li
			a(href="/")
				.navoption#home
					img(src="/images/icon-dashboard.png")
		li
			a(href="/forum")
				.navoption#forum
					img(src="/images/icon-forum.png")
		li 
			a(href="/chat")
				.navoption#chat
					img(src="/images/icon-chat.png")
		li
			a(href="/settings")
				.navoption#settings
					img(src="/images/icon-settings.png")
script.
	pageTitle = '#{pageTitle}';

	$('li').each(function(){
		if($(this).find('.navoption').attr('id') === pageTitle){
			$(this).find('.navoption').addClass('current');
		} else {
			$(this).find('.navoption').removeClass('current');
		}
	});