nav
	ul
		li
			a(href="/")
				.navoption#nav-dash
					img(src="/images/icon-dashboard.png")
		li
			a(href="/forum")
				.navoption#nav-forum
					img(src="/images/icon-forum.png")
		li 
			a(href="/chat")
				.navoption#nav-chat
					img(src="/images/icon-chat.png")
		li
			a(href="/settings")
				.navoption#nav-settings
					img(src="/images/icon-settings.png")