nav
	ul
		li
			a(href="/")
				.navoption
					img(src="/images/icon-dashboard.png")
		li
			a(href="/forum")
				.navoption
					img(src="/images/icon-forum.png")
		li 
			a(href="/chat")
				.navoption
					img(src="/images/icon-chat.png")
		li
			a(href="/settings")
				.navoption
					img(src="/images/icon-settings.png")