extends layout
block content
	.chatRoom
		if (room)
			h1 #{room.user_init}
			br
			h1 #{room.user_resp}
			#chatWrap
				p Incoming Messages
				ul#incoming
				br
				input#outgoing(type='text');
			#videosWrap
				#videoDisplay
					video#localVideo
					video#remoteVideo
					.videoButtons
						button.btn.btn-primary#startButton(type='button') Start
						button.btn.btn-primary#callButton(type='button') Call
						button.btn.btn-primary#hangupButton(type='button') Hang Up
						button.btn.btn-primary#muteButton(type='button') Mute
