extends layout
block content
	.container
		include includes/nav.jade
		.chatChoiceWrap
			h1 Chat
			.chatChoices
				a(href='/chat/chatprof')
					button.chatChoice#chatProfessional(type='button') Talk to a professional
				a(href='/chat/chatpeer')
					button.chatChoice#chatPeer(type='button') Talk to a stranger
		if (history)
			.oldCovosWrap
				h2 History
				ul#oldConvos
					for item in history
						for i in item
							li
								p=i