extends layout
block content
	.container
		include includes/nav.jade
		.chatChoiceWrap
			h1 Chat
			.chatChoices
				a(href='/chatprof')
					button.chatChoice#chatProfessional(type='button') Talk to a professional
				a(href='/chatpeer')
					button.chatChoice#chatPeer(type='button') Talk to a stranger
		.oldCovosWrap
			h2 History
			ul#oldConvos