extends layout

block content
	.container
		.open
			.logo
				img#logo(src='/images/ceda2.png')
			form.form-login(role='form', action="/forgot", method="POST")
				input.form-input(type="text", name="email", placeholder="Email")
				input.form-input(type="hidden", name="password", value='')
				button.form-submit(type="submit") Reset password
				a.forgot(href="/") Cancel