extends layout
block content
	.container
		if (!user)
			.open
				.logo
					img#logo(src='/images/ceda2.png')
				h1 Login
				if (message.length > 0)
					.alert #{message}
				.social-login
					a(href="/auth/facebook")
						.social-btn#login-fb
							img(src='/images/facebook.png')
					a(href="/auth/twitter")
						.social-btn#login-tw
							img(src='/images/twitter.png')
					a(href="/auth/google")
						.social-btn#login-go
							img(src='/images/googleplus.png')
				form.form-login(role='form', action="/login", method="POST")
					input.form-input#email(type="text", name="email", placeholder="Email")
					input.form-input(type="password", name="password", placeholder="Password")
					button.form-submit(type="submit") Submit
					a.forgot(href="forgot") I forgot my password
				.notamember
					p Not a member? 
					a.signup(href="/signup") Sign Up
