extends layout

block content
	.container
		if (!user)
			a(href="/login") Login
			br
			a(href="/signup") Sign Up
			br
			a(href="/auth/facebook") Login via Facebook
			br
			a(href="/auth/twitter") Login via Twitter
			br
			a(href="/auth/google") Login via Google
		if (user)
			p You are currently logged in as #{user.username}
			a(href="/logout") Logout
			div.dashoption
				div#option1
					a(href="/chat") Chat
				div#option2
					a(href="/settings") Settings
				div#option3
					a(href="/forum") Forum
			div.fb
				p facebook id: <%=user.oathID %>
				p facebook id: <%=user.email %>
				p facebook id: <%=user.firstName %>
				p facebook id: <%=user.lastName %>
