doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/styles.css')
  body
    include includes/head.jade
    if (error && error.length > 0)
      br
      h4.error-msg= error
      br
    block content
    script(src='/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery.js')
    script(src='/js/lib/adapter.js')
    script(src='/js/client.js')
    include includes/foot.jade