doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/styles.css')
    script(src='/socket.io/socket.io.js')
    script(src='/js/jquery-3.1.1.min.js')
    script(src='/js/lib/adapter.js')
  body
    if (user)
      include includes/head.jade
    if (error && error.length > 0)
      br
      h4.error-msg= error
      br
    block content
    include includes/foot.jade