extends layout

block content

  .container
    h1 Login
    br
    form(role='form', action="/login", method="POST", style="max-width: 300px;")
      .form-group
        input.form-control(type="text", name="email", placeholder="Email")
      .form-group
        input.form-control(type="password", name="password", placeholder="Password")
      button.btn.btn-default(type="submit") Submit
      a(href="/")
        button.btn.btn-primary(type="button") Cancel
      a(href="forgot")
        button.btn.btn-primary(type='button') I forgot my password