extends layout
block content
	.container
		include includes/nav-simple.jade
		.forumWrap
			h1 New Post
			if (message.length > 0)
				.alert #{message}
			.newPost
				form.form-post(role='form', action="/forum", method="POST")
					input.form-input(type="text", name="title", placeholder="Title")
					textarea.form-input(cols="30", rows="10", name="content", placeholder="What did you want to say?", style="height: auto;")
					button.form-submit(type="submit") Submit
					a.forgot(href="/") Cancel