extends layout

block content
	.container
		.open
			.logo
				img#logo(src='/images/ceda2.png')
			h1 Reset Password
			if (message.length > 0)
				.alert #{message}
			else
				form.form-login(role='form', action="/reset", method="POST")
					input.form-input(type='password', name="password", placeholder='Password')
					input.form-input(type='password', name='confirmPassword', placeholder='Confirm Password')
					input(type="hidden" name="userid" value="#{user._id}")
					button.form-submit(type="submit") Submit
					a.forgot(href='/') Cancel
	script.
		var message = "#{message}";
		if (message === "Success! You're password has been changed.") {
			$(document).ready(function(){
				window.setTimeout(function(){
					location.href = "/";
				}, 5000);
			});
		}