extends layout
block content
	.container
		include includes/nav.jade
		.settingsWrap
			h1 Settings
			.settingsA
				.settingsAccount
					h2 Account
					a(href='/settings/change?field=username')
						.setting
							.settingTitle
								p username
							.settingInput
								p #{user.username}	
					a(href='/settings/change?field=email')
						.setting
							.settingTitle
								p email
							.settingInput
								p #{user.email}
					if (user.provider === 'local')
						a(href='/settings/change?field=password')
							.setting
								.settingTitle
									p password
								.settingInput
									p ***********
					a(href='/deleteaccount')
						.setting
							.settingTitle
								p account
							.settingInput
								p delete account
			.settingsN
				.settingsNotification
					h2 Notifications
					.setting
						.settingTitle
							p messages
						.onoffswitch
							input.onoffswitch-checkbox#notifyChat(type='checkbox', name='notifyChat', checked=true)
							label.onoffswitch-label(for='notifyChat')
								span.onoffswitch-inner
								span.onoffswitch-switch
					.setting
						.settingTitle
							p forum replies
						.onoffswitch
							input.onoffswitch-checkbox#notifyForum(type='checkbox', name='notifyChat', checked=true )
							label.onoffswitch-label(for='notifyForum')
								span.onoffswitch-inner
								span.onoffswitch-switch