extends layout

block content
	.container
		.open
			.logo
				img#logo(src='/images/ceda2.png')
			h1 Sign Up
			form.form-login(role='form', action="/signup", method="POST")
				input.form-input(type='text', name="username", placeholder='Username')
				input.form-input(type="text", name="email", placeholder="Email")
				input.form-input(type='password', name="password", placeholder='Password')
				input.form-input(type='password', name='confirmPassword', placeholder='Confirm Password')
				input.form-input(type='text', name="firstName", placeholder='First Name')
				input.form-input(type='text', name="lastName", placeholder='Last Name')
				button.form-submit(type="submit") Submit
				a.forgot(href='/') Cancel