* {
  box-sizing: border-box; }

body {
  font-family: "Questrial", sans-serif;
  background-color: #ebebeb;
  margin: 0; }

header {
  background-color: #ea5455; }
  header .logo {
    height: 30px;
    width: auto; }
    header .logo img {
      height: 100%; }

a {
  text-decoration: none;
  padding-top: 10px;
  text-align: center;
  color: #ea5455; }
  a:hover {
    color: #213e64; }

button, .container .open .social-login .social-btn, .container .chatChoiceWrap .chatChoices .chatChoice {
  border: none;
  background-color: #ea5455;
  color: #ffffff;
  cursor: pointer;
  font-family: "Questrial", sans-serif;
  font-size: 1em; }
  button:hover, .container .open .social-login .social-btn:hover, .container .chatChoiceWrap .chatChoices .chatChoice:hover {
    background-color: #213e64; }
  button:focus, .container .open .social-login .social-btn:focus, .container .chatChoiceWrap .chatChoices .chatChoice:focus {
    outline: none; }

.htags, h1, h2 {
  font-family: "Questrial", sans-serif;
  font-weight: 300;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

h1 {
  font-size: 1.8em;
  color: #ea5455; }

h2 {
  font-size: 1.2em;
  color: #213e64; }

ul {
  -webkit-padding-start: 0px;
  margin: 0; }

li {
  list-style-type: none; }

p {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

form {
  padding: 20px;
  margin: 0 auto;
  font-size: 1em;
  text-align: left; }
  form .inputs, form .form-input, form .form-submit {
    width: 100%;
    height: 40px;
    font-family: "Questrial", sans-serif;
    font-size: 1em;
    padding: 5px;
    margin: 5px auto;
    border: solid 2px #ea5455;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  form .form-input:focus {
    border: solid 2px #213e64;
    outline: none; }
  form .form-submit {
    color: #ffffff; }
    form .form-submit:hover {
      background-color: #213e64;
      border: solid 2px #213e64; }

.container {
  width: 100%; }
  @media screen and (min-width: 700px) {
    .container {
      width: 500px;
      margin: 0 auto; } }
  .container .open {
    width: 95%;
    margin: 100px auto;
    padding: 40px;
    background-color: #ffffff;
    text-align: center;
    -webkit-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.1); }
    .container .open .logo {
      height: 50px;
      margin: 20px 0 50px 0; }
      .container .open .logo img {
        height: 100%;
        width: auto;
        margin: 0 auto; }
    .container .open .form-login {
      max-width: 400px; }
      .container .open .form-login .forgot {
        display: block; }
    .container .open .social-login {
      width: 100%;
      padding-top: 60px;
      text-align: center; }
      .container .open .social-login .social-btn {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 20px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px; }
        .container .open .social-login .social-btn:hover {
          background-color: #213e64;
          border: none; }
      .container .open .social-login #login-fb img {
        height: 70%;
        padding-top: 25%;
        margin: 0 auto; }
      .container .open .social-login #login-tw img {
        height: 70%;
        padding-top: 25%;
        margin: 0 auto; }
      .container .open .social-login #login-go img {
        height: 70%;
        padding-top: 25%;
        margin: 0 auto; }
    .container .open .notamember {
      padding-top: 60px; }
  .container nav {
    height: 50px;
    width: 100%; }
    .container nav ul {
      width: 100%; }
      .container nav ul li {
        background-color: #ea5455;
        list-style-type: none;
        width: 25%;
        height: 100%;
        display: inline-block;
        padding-bottom: 7px; }
        .container nav ul li:hover, .container nav ul li:focus {
          background-color: #213e64; }
        .container nav ul li a .navoption img {
          height: 30px;
          margin: 10px auto 0 auto; }
  .container .logout {
    padding-top: 85vh;
    text-align: right; }
  .container .chatWraps, .container .chatChoiceWrap, .container .history, .container .threadList, .container .forumWrap {
    width: 100%;
    padding: 40px 20px 0;
    text-align: center; }
  .container .chatChoiceWrap .chatChoices {
    padding: 40px 0; }
    .container .chatChoiceWrap .chatChoices .chatChoice {
      width: 80%;
      max-width: 400px;
      height: 40px;
      margin: 10px auto;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
  .container .history ul, .container .threadList ul {
    width: 100%;
    padding: 40px 0; }
    .container .history ul li, .container .threadList ul li {
      width: 100%;
      position: relative; }
      .container .history ul li a ul, .container .threadList ul li a ul {
        width: 90%;
        padding: 0 40px;
        background-color: white;
        margin: 0 auto;
        -webkit-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.2);
        -ms-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.2);
        color: #213e64;
        text-align: left; }
        .container .history ul li a ul .user, .container .history ul li a ul .title, .container .threadList ul li a ul .user, .container .threadList ul li a ul .title {
          font-size: 1.2em;
          padding: 20px 0 10px 0; }
        .container .history ul li a ul .message, .container .history ul li a ul .postuser, .container .threadList ul li a ul .message, .container .threadList ul li a ul .postuser {
          padding: 10px 0; }
        .container .history ul li a ul .time, .container .threadList ul li a ul .time {
          font-size: 0.6em;
          padding: 10px 0; }
        .container .history ul li a ul .icon, .container .threadList ul li a ul .icon {
          float: right; }
  .container .chatRoom {
    padding-top: 20px; }
    .container .chatRoom h1 {
      text-align: center; }
    .container .chatRoom .displayMessagesWrap {
      width: 100%;
      padding: 20px;
      text-align: left; }
      .container .chatRoom .displayMessagesWrap #incoming {
        padding-bottom: 80px; }
        .container .chatRoom .displayMessagesWrap #incoming li {
          list-style-type: none; }
        .container .chatRoom .displayMessagesWrap #incoming .msgtime {
          width: 100%;
          display: block;
          font-size: 0.6em;
          margin-bottom: -10px; }
        .container .chatRoom .displayMessagesWrap #incoming .incomingMessage {
          width: 92%;
          display: inline-block;
          padding: 10px;
          margin-bottom: 20px; }
        .container .chatRoom .displayMessagesWrap #incoming #user1msg {
          background-color: #ffffff;
          color: #213e64;
          border: solid 1px #ffffff;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          border-radius: 5px; }
        .container .chatRoom .displayMessagesWrap #incoming #user2msg {
          background-color: #213e64;
          color: #ffffff;
          border: solid 1px #213e64;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          border-radius: 5px; }
        .container .chatRoom .displayMessagesWrap #incoming .speechbubble1 {
          width: 40px;
          display: inline-block;
          margin-left: -10px;
          position: relative;
          bottom: -15px; }
          .container .chatRoom .displayMessagesWrap #incoming .speechbubble1 img {
            width: 100%; }
        .container .chatRoom .displayMessagesWrap #incoming .speechbubble2 {
          width: 40px;
          display: inline-block;
          margin-right: -10px;
          position: relative;
          bottom: -15px; }
          .container .chatRoom .displayMessagesWrap #incoming .speechbubble2 img {
            width: 100%; }
    .container .chatRoom .sendMessagesWrap {
      width: 100%;
      position: fixed;
      bottom: 0; }
      @media screen and (min-width: 700px) {
        .container .chatRoom .sendMessagesWrap {
          width: 500px;
          margin: 0 auto; } }
      .container .chatRoom .sendMessagesWrap #outgoing {
        height: 40px;
        width: 100%;
        border: none;
        padding: 0 20px;
        font-family: "Questrial", sans-serif; }
      .container .chatRoom .sendMessagesWrap .chatOptions {
        width: 100%;
        height: 40px; }
        .container .chatRoom .sendMessagesWrap .chatOptions .chat-btn {
          background-color: #ea5455;
          color: #ffffff;
          width: 25%;
          height: 100%;
          display: inline-block;
          border: none;
          cursor: pointer;
          vertical-align: top;
          text-align: center; }
          .container .chatRoom .sendMessagesWrap .chatOptions .chat-btn:hover {
            background-color: #213e64; }
          .container .chatRoom .sendMessagesWrap .chatOptions .chat-btn img {
            height: 38px;
            width: auto;
            margin: 0 auto; }
    .container .chatRoom .videoWrap {
      display: none;
      width: 100%;
      height: 75vh;
      padding-top: 20px; }
      .container .chatRoom .videoWrap .videoDisplay {
        width: 100%;
        height: 100%; }
        .container .chatRoom .videoWrap .videoDisplay #remoteVideo {
          width: 100%;
          position: relative;
          background-color: #000000;
          height: 100%; }
        .container .chatRoom .videoWrap .videoDisplay #localVideo {
          width: 40%;
          position: relative;
          bottom: 120px;
          float: right;
          border: solid 4px #ea5455;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          border-radius: 20px;
          margin-right: 20px; }
        .container .chatRoom .videoWrap .videoDisplay .videoOptions {
          width: 100%;
          height: 40px;
          position: fixed;
          bottom: 0; }
          @media screen and (min-width: 700px) {
            .container .chatRoom .videoWrap .videoDisplay .videoOptions {
              width: 500px;
              margin: 0 auto; } }
          .container .chatRoom .videoWrap .videoDisplay .videoOptions .chat-btn {
            background-color: #ea5455;
            color: #ffffff;
            width: 25%;
            height: 100%;
            display: inline-block;
            border: none;
            cursor: pointer;
            vertical-align: top;
            text-align: center; }
            .container .chatRoom .videoWrap .videoDisplay .videoOptions .chat-btn:hover {
              background-color: #213e64; }
            .container .chatRoom .videoWrap .videoDisplay .videoOptions .chat-btn img {
              height: 38px;
              width: auto;
              margin: 0 auto; }
  .container .forumWrap .threadList {
    padding: 0 20px; }
  .container .forumWrap .addPost {
    float: right;
    padding: 20px; }
    .container .forumWrap .addPost a .add {
      width: 50px;
      height: auto; }
      .container .forumWrap .addPost a .add img {
        width: 100%; }
  .container .options {
    padding: 20px; }
    .container .options .reply {
      float: right;
      padding: 5px 20px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
    .container .options .back {
      width: 40px;
      height: 40px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      border-radius: 20px; }
  .container .postReply {
    display: none; }

/*# sourceMappingURL=styles.css.map */
