* {
  box-sizing: border-box; }

body {
  font-family: "Questrial", sans-serif;
  background-color: #ebebeb; }

header {
  background-color: #ea5455; }
  header .logo {
    height: 30px;
    width: auto; }
    header .logo img {
      height: 100%; }

a {
  text-decoration: none; }

button {
  border: none;
  background-color: #ea5455;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer; }

form {
  padding: 20px;
  margin: 0 auto;
  font-size: 1em;
  text-align: left; }
  form .inputs, form .form-input, form .form-submit {
    width: 100%;
    height: 40px;
    font-family: "Questrial", sans-serif;
    padding: 5px;
    margin: 5px auto;
    color: #ea5455;
    border: solid 2px #ea5455;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  form .form-submit {
    color: #ffffff; }

.container {
  padding: 20px;
  width: 100%; }
  .container .open {
    width: 100%;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    -webkit-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.1); }
    .container .open .logo {
      height: 50px;
      margin: 20px 0 50px 0; }
      .container .open .logo img {
        height: 100%;
        width: auto;
        margin: 0 auto; }
    .container .open .form-login {
      max-width: 400px; }
      .container .open .form-login .forgot {
        display: block;
        padding-top: 20px;
        text-align: center;
        color: #213e64; }
        .container .open .form-login .forgot:hover {
          color: #ea5455; }
    .container .open .social-login {
      width: 100%;
      text-align: center; }
      .container .open .social-login .social-btn {
        width: 40px;
        height: 40px;
        margin: 0 10px; }

#chooseuserWrap {
  display: none; }
  #chooseuserWrap #usersList li {
    cursor: pointer; }

#contentWrap {
  display: none; }
  #contentWrap #userDisplay {
    float: left;
    height: 100vh;
    width: 20%;
    border-right: solid 1px #000000;
    padding: 10px; }
    #contentWrap #userDisplay #users li {
      cursor: pointer; }
  #contentWrap #chatWrap {
    float: left;
    height: 100vh;
    width: 30%;
    padding: 10px; }
  #contentWrap #videosWrap {
    float: left;
    height: 100vh;
    border-left: solid 1px #000000;
    width: 50%;
    padding: 10px; }
    #contentWrap #videosWrap #videoDisplay video {
      max-width: 100%;
      width: 320px; }
    #contentWrap #videosWrap #videoDisplay button {
      width: 50px;
      background-color: #ea5455;
      cursor: pointer;
      text-align: center;
      margin: 0 auto;
      border: 1px solid #ea5455;
      color: #ffffff;
      border-radius: 5px; }
    #contentWrap #videosWrap #swaptovideo {
      background-color: #ea5455;
      cursor: pointer;
      width: 200px;
      text-align: center;
      margin: 0 auto;
      padding: 5px 10px;
      border: 1px solid #ea5455;
      border-radius: 5px; }

/*# sourceMappingURL=styles.css.map */
